{% extends 'base.html.twig' %}

{% block body_class %}login{% endblock %}
{% block body %}
    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="box box-primary">
            <div class="x_content">
                {{ form_start(form, {'role': 'form'}) }}
                <div class="box-body">
                    {{ form_widget(form) }}
                    <div class="box-footer">
                        <button id="send" type="submit" class="btn btn-primary">{{ "general.button.accept"|trans }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            {% for label, messages in app.flashes(['success', 'error']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
 {% endblock %}