{% extends 'layout.html.twig' %}

{% block content_header %}
    <section class="content-header">
        <h1>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Account <span> - {{ account.name }} </span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('account_index') }}"><i class="fa fa-dashboard"></i> Accounts</a></li>
            <li class="active">Show Account</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box box-primary">

                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="x_content">
                    <div class="box-body">


                        <div class="box box-widget widget-user-2">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-yellow">
                                <h3 class="widget-user-username">{{ account.name }}</h3>
                                <h5 class="widget-user-desc">{% if account.country is defined %}{{ countries[account.country] }}{% else %} - {% endif %}</h5>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">Id: <span class="pull-right badge bg-blue">{{ account.id }}</span></a></li>
                                    <li><a href="#">Name: <span class="pull-right">{% if account.name is defined %}{{ account.name }}{% else %} - {% endif %}</span></a></li>
                                    <li><a href="#">Manager: <span class="pull-right">{% if account.manager is defined %}{{ account.manager }}{% else %} - {% endif %}</span></a></li>
                                    <li><a href="#">Sport: <span class="pull-right">{% if account.sport is defined %}{{ account.sport }}{% else %} - {% endif %}</span></a></li>
                                    <li><a href="#">Country: <span class="pull-right">{% if account.country is defined %}{{ countries[account.country] }}{% else %} - {% endif %}</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="pull-left">
                                <a href="{{ path('account_index') }}" class="btn bg-green">
                                    <i class="fa fa-arrow-circle-left"></i><span class="hidden-xs hidden-sm"> Back to the list</span>
                                </a>
                            </div>
                            <div class="pull-left">
                                <a href="{{ path('account_edit', { 'id': account.id }) }}" class="btn bg-orange">
                                    <i class="fa fa-pencil"></i><span class="hidden-xs hidden-sm"> Edit</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-5 col-sm-6 col-xs-12">

{% endblock %}