{{ form_start(filter) }}
<div class="row filters-section">
    <div class="col-xs-12">
        <div class=" box box-default color-palette-box">
            <div class="box-body">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <h4 class="box-title">Facility:</h4>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    {{ form_widget(filter.facility) }}
                </div>
                {#<div class="col-md-2 col-sm-12 col-xs-12">#}
                    {#{{ form_row(filter.from) }}#}
                {#</div>#}
                {#<div class="col-md-2 col-sm-12 col-xs-12">#}
                    {#{{ form_row(filter.to) }}#}
                {#</div>#}
                <div class="col-md-2 col-sm-12 col-xs-12">
                    {{ form_row(filter.date) }}
                </div>


                <div class="col-md-2 col-sm-12 col-xs-12">
                    <button class="btn btn-block btn-sm bg-green no-wrap filter-event-table" type="submit">
                        <i class="fa fa-filter" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Filter Schedule</span>
                    </button>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <a class="btn btn-block btn-sm bg-orange no-wrap filter-event-table" href="{{ url(app.request.attributes.get('_route')) }}">
                        <i class="fa fa-eraser" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Clear</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>



{{ form_end(filter, {'render_rest': false}) }}

