{% extends 'layout.html.twig' %}
    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-list" aria-hidden="true"></i> List Schedule
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('schedule_index') }}"><i class="fa fa-dashboard"></i> Schedule</a></li>
                <li class="active">List</li>
            </ol>
        </section>
    {% endblock %}

{% block content %}
     <div class="col-md-12 col-sm-6 col-xs-12">

         <!-- Main content -->
         <section class="content">
             <div class="row">

                 <div class="col-md-12">
                     <div class="box box-primary">
                         <div class="box-body no-padding">
                             <!-- THE CALENDAR -->
                             <div id="calendar"></div>
                         </div>
                         <!-- /.box-body -->
                     </div>
                     <!-- /. box -->
                 </div>
                 <!-- /.col -->
             </div>
             <!-- /.row -->
         </section>
         <!-- /.content -->

     </div>



    </div>
    <!-- /.content-wrapper -->

 {% endblock %}


  {% block javascripts %}
      {{ parent() }}

      <!-- fullCalendar -->
      <script src="{{ url('app_homepage') }}bower_components/moment/moment.js"></script>
      <script src="{{ url('app_homepage') }}bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
      {#<script src='{{ url('app_homepage') }}bower_components/fullcalendar/lang-all.js'></script>#}
      <script src='{{ url('app_homepage') }}bower_components/fullcalendar/dist/locale-all.js'></script>

      <!-- fullCalendar Scheduler-->
      <script src='{{ url('app_homepage') }}bower_components/fullcalendar-scheduler/scheduler.min.js'></script>

      {#https://fullcalendar.io/docs/events-json-feed#}
      <script>

          $(function() {
              var todayDate = moment().startOf('day');
              var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
              var TODAY = todayDate.format('YYYY-MM-DD');
              var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

              $('#calendar').fullCalendar({
                  defaultView: 'timelineDay',
                  height: 'auto',
                  locale: 'bg',
                  timeFormat: 'H:mm', // uppercase H for 24-hour clock
                  slotLabelFormat: [
                      'D MMMM YYYY', // top level of text
                      'H:mm', // uppercase H for 24-hour clock
                  ],
                  header: {
                      left: 'prev,next',
                      center: 'title',
                      right: 'timelineDay,timelineWeek,timelineMonth'
                  },
                  resourceLabelText: 'Пътечки',
                  // resources: 'https://fullcalendar.io/demo-resources.json',
                  // events: 'https://fullcalendar.io/demo-events.json?with-resources'
                  resources: [
                      {% for i in 1..8 %}
                      {
                          id: '{{ i }}',
                      },
                      {% endfor %}
                  ],
                  minTime: "06:00:00",
                  maxTime: "21:00:00",
                  displayEventTime: true,
                  displayEventEnd: true,
                  events: [
                      { id: '1', resourceId: '1', start: TODAY + 'T07:00:00', end: TODAY + 'T09:00:00', title: 'event 1' , color: '#378006',},
                      { id: '2', resourceId: '2', start: TODAY + 'T05:00:00', end: TODAY + 'T22:00:00', title: 'event 2' , color: '#378006', },
                      { id: '3', resourceId: '3', start: YESTERDAY, end: TOMORROW, title: 'event 3' , color: '#378006',},
                      { id: '4', resourceId: '4', start: TODAY + 'T03:00:00', end: TODAY + 'T08:00:00', title: 'event 4' , color: 'red',},
                      { id: '5', resourceId: '5', start: TODAY + 'T03:00:00', end: TODAY + 'T08:00:00', title: 'event 4' , color: 'red',},
                      { id: '5', resourceId: '5', start: TODAY + 'T03:00:00', end: TODAY + 'T08:00:00', title: 'event 4' , color: '#378006',},
                      { id: '5', resourceId: '5', start: TODAY + 'T10:30:00', end: TODAY + 'T12:30:00', title: 'event 5' , color: '#378006', }
                  ],
              });

          });
      </script>

      <script>
          $('.datepicker').datepicker({
              startDate: "today",
              setDate: new Date(),
              format: 'dd-mm-yyyy',
              orientation: "bottom auto",
              autoclose: true,
              todayHighlight: true
          });
      </script>

  {% endblock %}