{% extends 'layout.html.twig' %}
    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-list" aria-hidden="true"></i> List Schedule
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('schedule_index') }}"><i class="fa fa-dashboard"></i> Schedule</a></li>
                <li class="active">List</li>
            </ol>
        </section>
    {% endblock %}

{% block content %}
     <div class="col-md-12 col-sm-6 col-xs-12">
         <div class="box box-primary">

             <div class="x_content">
                 {% include 'schedule/filter.html.twig' %}
                 <div class="box-body">

                     {#<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">#}
                         {#<thead>#}
                         {#<tr>#}
                             {#{% set route = app.request.attributes.get('_route') %}#}
                             {#{% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}#}


                             {#{% if params.order is defined and params.sort == 'id' and params.order == 'DESC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'id',order:'ASC'})) }}">Account Id <i class="fa fa-fw fa-sort-asc"></i></a></th>#}
                             {#{% elseif params.order is defined and params.sort == 'id' and params.order == 'ASC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'id', order:'DESC'})) }}">Account Id <i class="fa fa-fw fa-sort-desc"></i></a></th>#}
                             {#{% else %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'id',order:'ASC'})) }}">Account Id <i class="fa fa-fw fa-sort"></i></a></th>#}
                             {#{% endif %}#}


                             {#{% if params.order is defined and params.sort == 'name' and params.order == 'DESC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'name',order:'ASC'})) }}">Name <i class="fa fa-fw fa-sort-asc"></i></a></th>#}
                             {#{% elseif params.order is defined and params.sort == 'name' and params.order == 'ASC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'name', order:'DESC'})) }}">Name <i class="fa fa-fw fa-sort-desc"></i></a></th>#}
                             {#{% else %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'name',order:'ASC'})) }}">Name <i class="fa fa-fw fa-sort"></i></a></th>#}
                             {#{% endif %}#}

                             {#{% if params.order is defined and params.sort == 'manager' and params.order == 'DESC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'manager',order:'ASC'})) }}">Manager <i class="fa fa-fw fa-sort-asc"></i></a></th>#}
                             {#{% elseif params.order is defined and params.sort == 'manager' and params.order == 'ASC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'manager', order:'DESC'})) }}">Manager <i class="fa fa-fw fa-sort-desc"></i></a></th>#}
                             {#{% else %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'manager',order:'ASC'})) }}">Manager <i class="fa fa-fw fa-sort"></i></a></th>#}
                             {#{% endif %}#}

                             {#{% if params.order is defined and params.sort == 'sport' and params.order == 'DESC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'sport',order:'ASC'})) }}">Sport <i class="fa fa-fw fa-sort-asc"></i></a></th>#}
                             {#{% elseif params.order is defined and params.sort == 'sport' and params.order == 'ASC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'sport', order:'DESC'})) }}">Sport <i class="fa fa-fw fa-sort-desc"></i></a></th>#}
                             {#{% else %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'sport',order:'ASC'})) }}">Sport <i class="fa fa-fw fa-sort"></i></a></th>#}
                             {#{% endif %}#}

                             {#{% if params.order is defined and params.sort == 'country' and params.order == 'DESC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'country',order:'ASC'})) }}">Country <i class="fa fa-fw fa-sort-asc"></i></a></th>#}
                             {#{% elseif params.order is defined and params.sort == 'country' and params.order == 'ASC' %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'country', order:'DESC'})) }}">Country <i class="fa fa-fw fa-sort-desc"></i></a></th>#}
                             {#{% else %}#}
                                 {#<th><a href = "{{ url(route, params|merge({sort:'country',order:'ASC'})) }}">Country <i class="fa fa-fw fa-sort"></i></a></th>#}
                             {#{% endif %}#}


                             {#<th>Manage</th>#}

                         {#</tr>#}
                         {#</thead>#}
                         {#<tbody>#}
                         {#{% if accounts|length > 0%}#}
                             {#{% for account in accounts %}#}
                                 {#<tr>#}
                                     {#<td>#}
                                         {#<a href="{{ path('user_show', { 'id': account.id }) }}">{{ account.id }}</a>#}
                                     {#</td>#}
                                     {#<td>{{ account.name }}</td>#}
                                     {#<td>{{ account.manager }}</td>#}
                                     {#<td>{{ account.sport }}</td>#}
                                     {#<td>{{ countries[account.country] }}</td>#}
                                     {#<td class="actions">#}
                                         {#<a href="{{ path('account_show', { 'id': account.id }) }}" class="btn-sm bg-orange no-wrap">#}
                                             {#<i class="fa fa-user"></i><span class="hidden-xs hidden-sm"> View</span>#}
                                         {#</a>#}
                                         {#<a href="{{ path('account_edit', { 'id': account.id }) }}" class="btn-sm bg-green no-wrap">#}
                                             {#<i class="fa fa-cog"></i><span class="hidden-xs hidden-sm"> Edit Account</span>#}
                                         {#</a>#}
                                     {#</td>#}
                                 {#</tr>#}
                             {#{% endfor %}#}
                         {#{% endif %}#}
                         {#</tbody>#}
                     {#</table>#}
                 {#</div>#}

                 {% include 'paginator.html.twig' with { 'paginator': schedule } only %}
             </div>
         </div>
     </div>

 {% endblock %}
