{% extends 'layout.html.twig' %}
    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-list" aria-hidden="true"></i> List Schedule
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('schedule_index') }}"><i class="fa fa-dashboard"></i> Schedule</a></li>
                <li class="active">List</li>
            </ol>
        </section>
    {% endblock %}

{% block content %}
     <div class="col-md-12 col-sm-6 col-xs-12">
         <div class="box box-primary">

             <div class="x_content">
                 {% include 'schedule/filter.html.twig' %}
                 <div class="box-body">
                     {% if schedules|length > 0%}
                        {{ dump(schedules) }}
                         <table class="table table-bordered table-striped dt-responsive nowrap table-hover">
                             <thead>
                             <tr>
                                 <th>Date</th>
                                 <th>Time</th>
                             </tr>
                             </thead>
                             <tbody>
                                 {% for day,array in schedules %}
                                 <tr>
                                     <td>{{ day }}</td>
                                     <td>
                                         {% if array %}
                                             {% for schedule in array %}
                                                 <div class="row">
                                                     <div class="col-md-6">
                                                         {{ schedule.id }}
                                                     </div>
                                                 </div>
                                             {% endfor %}
                                         {% endif %}
                                     </td>
                                 </tr>
                                {% endfor %}
                             </tbody>
                         </table>

                     {% endif %}
                 </div>

             </div>
         </div>
     </div>

 {% endblock %}


  {% block javascripts %}
      {{ parent() }}

      <script>
          $('.datepicker').datepicker({
              startDate: "today",
              setDate: new Date(),
              format: 'dd-mm-yyyy',
              orientation: "bottom auto",
              autoclose: true,
              todayHighlight: true
          });
      </script>

  {% endblock %}