{% extends 'layout.html.twig' %}
    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-list" aria-hidden="true"></i> List Restaurant Schedule
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('schedule_index') }}"><i class="fa fa-dashboard"></i> Schedule</a></li>
                <li class="active">Restaurant</li>
            </ol>
        </section>
    {% endblock %}

{% block content %}
     <div class="col-md-12 col-sm-6 col-xs-12">
         <!-- Main content -->
         <section class="content">
             {% include 'meal-schedule/filter.html.twig' %}
             <div class="row">
                 <h2>Restaurant {{ constant('App\\Entity\\Query::RESTAURANTS')[restaurantId] }}</h2>

                 <div class="col-md-12">
                     <div class="box box-primary">
                         <div class="box-body no-padding">
                             <!-- THE CALENDAR -->
                             <div id="calendar"></div>
                         </div>
                         <!-- /.box-body -->
                     </div>
                     <!-- /. box -->
                 </div>
                 <!-- /.col -->
             </div>
             <!-- /.row -->
         </section>
         <!-- /.content -->

     </div>
     <!-- /.content-wrapper -->

 {% endblock %}


  {% block javascripts %}
      {{ parent() }}

      <!-- fullCalendar -->
      <script src="{{ url('app_homepage') }}bower_components/moment/moment.js"></script>
      <script src="{{ url('app_homepage') }}bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
      {#<script src='{{ url('app_homepage') }}bower_components/fullcalendar/lang-all.js'></script>#}
      <script src='{{ url('app_homepage') }}bower_components/fullcalendar/dist/locale-all.js'></script>

      <!-- fullCalendar Scheduler-->
      <script src='{{ url('app_homepage') }}bower_components/fullcalendar-scheduler/scheduler.min.js'></script>

      {#https://fullcalendar.io/docs/events-json-feed#}
      <script>

          $(function() {
              $('#calendar').fullCalendar({
                  eventRender: function(eventObj, $el) {
                      $el.popover({
                          title: eventObj.title,
                          content: eventObj.description,
                          trigger: 'hover',
                          placement: 'top',
                          container: 'body'
                      });
                  },
                  defaultView: 'timelineDay',
                  height: 'auto',
                  locale: 'bg',
                  timeFormat: 'H:mm', // uppercase H for 24-hour clock
                  slotLabelFormat: [
                      'D MMMM YYYY', // top level of text
                      'H:mm', // uppercase H for 24-hour clock
                  ],
                  header: {
                      left: 'prev,next',
                      center: 'title',
                      right: 'timelineDay,timelineWeek,timelineMonth'
                  },
                  resourceLabelText: 'Ресторант',
                  resources: [
                      {% for id,rest in constant('App\\Entity\\Query::RESTAURANTS') %}
                      {
                          id: '{{ rest }}',
                      },
                      {% endfor %}
                      {
                          id: 'Неодобрени'
                      }
                  ],
                  minTime: "06:00:00",
                  maxTime: "21:00:00",
                  displayEventTime: true,
                  displayEventEnd: true,
                  events: {
                      url: '/meal-schedule/feed',
                      type: 'POST',
                      data: {
                          restaurant_id: {{ restaurantId }},
                      },
                      error: function() {
                          alert('there was an error while fetching events!');
                      },
                  }
              });

          });
      </script>

      <script>
          $('.datepicker').datepicker({
              startDate: "today",
              setDate: new Date(),
              format: 'dd-mm-yyyy',
              orientation: "bottom auto",
              autoclose: true,
              todayHighlight: true
          });
      </script>

  {% endblock %}