<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">{{ "label.meal_schedule"|trans }}</h3>
    </div>

    <div class="box-body">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                {% for key,meal in constant('App\\Entity\\Query::MEALS') %}

                {% endfor %}
            </ul>
            <div class="tab-content">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>{{ "label.date"|trans }}</th>
                        <th>{{ "label.restaurant"|trans }}</th>
                        <th style="width: 130px">{{ "label.breakfast_time"|trans }}</th>
                        <th style="width: 130px">{{ "label.lunch_time"|trans }}</th>
                        <th style="width: 130px">{{ "label.dinner_time"|trans }}</th>
                        <th style="width: 130px">{{ "label.middle_breakfast_time"|trans }}</th>
                        <th>{{ "label.delete"|trans }}</th>
                    </tr>
                    {% if meal_schedules is empty %}
                        <tr class="meal_row_to_copy">
                            <td>
                                <input type="text" class="form-control pull-right datepicker"
                                       name="newmeals[date][]"
                                       data-newname="newmeals[date][]"
                                       value="">
                            </td>
                            <td>
                                <div class="input-group">
                                    <select name="newmeals[restaurant][]"
                                            data-newname="newmeals[restaurant][]" class="form-control">
                                        {% for resId,restaurant in constant('App\\Entity\\Query::RESTAURANTS') %}
                                        <option value="{{ resId }}">{{ restaurant }}</option>
                                        {% endfor %}#}
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control timepicker"
                                           name="newmeals[breakfast][]"
                                           data-newname="newmeals[breakfast][]"
                                           value=" ">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control timepicker"
                                           name="newmeals[lunch][]"
                                           data-newname="newmeals[lunch][]"
                                           value=" ">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control timepicker"
                                           name="newmeals[dinner][]"
                                           data-newname="newmeals[dinner][]"
                                           value=" ">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control timepicker"
                                           name="newmeals[middle_breakfast][]"
                                           data-newname="newmeals[middle_breakfast][]" value=" ">

                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                            <span style="cursor: pointer;" class="delete-row"><small
                                                        class="label label-danger"><i class="fa fa-fw fa-close"></i>
                                                    {{ "general.button.delete"|trans }}
                                                </small></span>
                            </td>
                        </tr>
                    {% else %}
                        {% for key,meal_schedule in meal_schedules %}
                            <tr
                                    {% if key == 0 %}
                                        class="meal_row_to_copy"
                                    {% endif %}
                            >
                                <td>
                                    <input type="text" class="form-control pull-right datepicker"
                                           name="meals[date][{{ meal_schedule.id }}]"
                                           data-newname="newmeals[date][]"
                                           value="{{ meal_schedule.date|date('d/m/Y') }}">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <select name="meals[restaurant][{{ meal_schedule.id }}]"
                                                data-newname="newmeals[restaurant][]" class="form-control">
                                            <option value="{{ meal_schedule.restaurant }}">{{ constant('App\\Entity\\Query::RESTAURANTS')[meal_schedule.restaurant] }}</option>
                                            {% for resId,restaurant in constant('App\\Entity\\Query::RESTAURANTS') %}
                                            <option value="{{ resId }}">{{ restaurant }}</option>
                                            {% endfor %}#}
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control timepicker"
                                               name="meals[breakfast][{{ meal_schedule.id }}]"
                                               data-newname="newmeals[breakfast][]"
                                               value="
                                                       {% if meal_schedule.breakfastTime %}
                                                         {{ meal_schedule.breakfastTime|date("H:i") }}
                                                       {% else %}

                                                       {% endif %}
                                                       ">

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control timepicker"
                                               name="meals[lunch][{{ meal_schedule.id }}]"
                                               data-newname="newmeals[lunch][]"
                                               value="
                                                       {% if meal_schedule.lunchTime %}
                                                         {{ meal_schedule.lunchTime|date("H:i") }}
                                                       {% else %}

                                                       {% endif %}">

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control timepicker"
                                               name="meals[dinner][{{ meal_schedule.id }}]"
                                               data-newname="newmeals[dinner][]"
                                               value="
                                                       {% if meal_schedule.dinnerTime %}
                                                             {{ meal_schedule.dinnerTime|date("H:i") }}
                                                       {% else %}

                                                       {% endif %}
                                                       ">

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control timepicker"
                                               name="meals[middle_breakfast][{{ meal_schedule.id }}]"
                                               data-newname="newmeals[middle_breakfast][]" value="
                                                {% if meal_schedule.middleBreakfastTime %}
                                                    {{ meal_schedule.middleBreakfastTime|date("H:i") }}
                                                 {% else %}

                                                {% endif %}
                                                ">

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                            <span style="cursor: pointer;" class="delete-row"><small
                                                        class="label label-danger"><i class="fa fa-fw fa-close"></i>
                                                    {{ "general.button.delete"|trans }}
                                                </small></span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <div>
                    <span class="btn btn-sm bg-info meal-add-date">{{ "general.button.add_date"|trans }}</span>

                    <span class="btn btn-sm bg-orange whole-period-meal">{{ "general.button.whole_period"|trans }}</span>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>

    </div>
</div>