<div class="modal fade" id="modal-default{{ query.id }}" style="display: none;">
    <div class="modal-dialog">
        <form method="post" action="{{ url('query_accept', { 'id': query.id }) }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Edit Lanes</h4>
                </div>
                <div class="modal-body">
                    {% set schedule = query.account.isSetPool() %}
                    {% if schedule %}
                        <p>Please choose pool lanes?</p>
                        {#{{ dump(schedule) }}#}
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Pool</th>
                                <th>Total lanes</th>
                                <th>Lane Numbers</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for scheduleId, day in schedule %}
                                <tr>
                                    <td>{{ day['date']|date('Y-m-d') }}</td>
                                    <td>{{ day['from']|date('H:i') }}</td>
                                    <td>{{ day['to']|date('H:i') }}</td>
                                    <td>{{ day['pool'] }}</td>
                                    <td>{{ constant('App\\Entity\\Facility::PARTS')[0][day['lanes']] }}</td>
                                    <td>
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                                <th>4</th>
                                                <th>5</th>
                                                <th>6</th>
                                                <th>7</th>
                                                <th>8</th>
                                            </tr>
                                            <tr>
                                                {#@var Schedule scheduleRepo #}
                                                {% set reservedSchedules = scheduleRepo.getReservedLanes(day) %}
                                                {% set lanes = {} %}
                                                {% set mylanes = {} %}
                                                {% for reserved in reservedSchedules %}
                                                    {% if reserved.account.query.id == query.id %}
                                                        {% set mylanes = lanes|merge(reserved.lanes|unserialize|keys) %}
                                                    {% else %}
                                                        {% set lanes = lanes|merge(reserved.lanes|unserialize|keys) %}
                                                    {% endif %}

                                                {% endfor %}
                                                {% for i in 1..8 %}
                                                    <td>

                                                        <label class="">
                                                            <input
                                                                    {% if i in lanes %}
                                                                        disabled checked
                                                                    {% endif %}
                                                                    {% if i in mylanes %}
                                                                        checked
                                                                    {% endif %}
                                                                    type="checkbox" class="minimal"
                                                                    data-limit="{{ day['lanes'] + 1 }}"
                                                                    data-id="{{ scheduleId }}"
                                                                    style="position: absolute; opacity: 0;"
                                                                    name="lanes[{{ scheduleId }}][{{ i }}]">
                                                        </label>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Are you sure?</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>