{% extends 'layout.html.twig' %}

    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ "query.title.edit_query"|trans }}
                <span> - {{ query.account.name }} </span>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('query_index') }}"><i class="fa fa-dashboard"></i> {{ "menu.queries"|trans }}</a></li>
                <li class="active">{{ "general.button.edit"|trans }}</li>
            </ol>
        </section>
    {% endblock %}

    {% block content %}

        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form, { 'attr' : { 'autocomplete': 'off' } }) }}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "label.client"|trans }}</h3>
                </div>

                <div class="x_content">

                    <div class="box-body">
                        {#{{ form_widget(form) }}#}
                        <div class="form-group col-md-3 col-sm-3">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            {{ form_row(form.manager) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            {{ form_row(form.sport) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                            {{ form_row(form.country) }}
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label>{{ "filter.number_of_people"|trans }}</label>
                            <input type="number" class="form-control pull-right" name="number_of_people" value="{{ query.numberOfPeople }}" autocomplete="off">
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label>{{ "label.hotel"|trans }}:</label>
                            {% set selectedHotels = query.hotel|split(',') %}

                            <select class="form-control" name="hotel[]" multiple="multiple">
                                {% for hotelId, hotel in constant('App\\Entity\\Query::HOTELS') %}
                                    <option value="{{ hotelId }}" {% if hotelId in selectedHotels %}selected{% endif %}>{{ hotel }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label>{{ "label.arrival"|trans }} - {{ "label.departure"|trans }}:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" class="form-control pull-right" name="datetimes" autocomplete="off">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="box-footer col-md-3 col-sm-3">
                            <button id="send" type="submit" class="btn btn-sm bg-green-active">{{ "general.button.save"|trans }}</button>

                            <a href="{{ path('query_index') }}" class="btn btn-sm bg-warning">{{ "general.button.back"|trans }}</a>

                            {% if query.status == constant('App\\Entity\\Query::STATUS_ACCEPTED') %}
                            <a href="#" class="btn btn-sm bg-blue"
                               data-toggle="modal"
                               data-target="#modal-default{{ query.id }}">{{ "general.button.edit_lanes"|trans }}
                            </a>
                            {% endif %}

                            {% if query.payed == constant('App\\Entity\\Query::PAYED_NO') %}
                                <a href="{{ path('query_payed', { 'id': query.id }) }}"
                                   class="btn btn-sm bg-orange-active no-wrap">
                                   <span class="hidden-xs hidden-sm">{{ "general.button.pay"|trans }}</span>
                                </a>
                            {% endif %}

                            {% if (is_granted(constant('App\\Security\\Voter\\QueryVoter::QUERY_EDIT_ROLE'))) %}

                                {% if query.status != constant('App\\Entity\\Query::STATUS_REJECTED') %}
                                    <a href="{{ path('query_reject', { 'id': query.id }) }}"
                                       class="btn btn-sm bg-red-active no-wrap">
                                        <i class="fa fa-close"></i><span
                                                class="hidden-xs hidden-sm"> {{ "general.button.reject"|trans }}</span>
                                    </a>
                                {% endif %}

                                {% if query.status == constant('App\\Entity\\Query::STATUS_REJECTED') %}
                                    <a href="{{ path('query_in_progress', { 'id': query.id }) }}"
                                       class="btn btn-sm bg-teal-active no-wrap">
                                        <span class="hidden-xs hidden-sm"> {{ "general.button.change_status_to_in_progress"|trans }}</span>
                                    </a>
                                {% endif %}
                            {% endif %}

                            <a href="{{ path('query_print', {'id': query.id}) }}" target="_blank" class="btn btn-sm btn-success">{{ "general.button.for_printing"|trans }}</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            {% include 'query/_edit_meal_schedule.html.twig' %}
        </div>

        <div class="col-md-12 col-sm-6 col-xs-12">
            {% include 'query/_edit_facility_schedule.html.twig' %}
        </div>

        {{ form_end(form) }}
        {% set bookedLanes = {} %}

        {% if query.status != constant('App\\Entity\\Query::STATUS_REJECTED') %}
            {% include 'query/_edit_lanes.html.twig' %}
        {% endif %}

        {% for key,facility in facilities %}
            {% include 'query/_edit_add_date.html.twig' %}
        {% endfor %}

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            Date.prototype.ddmmyyyy = function () {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [(dd > 9 ? '' : '0') + dd, (mm > 9 ? '' : '0') + mm, this.getFullYear()].join('/');
            };

            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
//                startDate: moment().startOf('hour').add(1, 'day'),
//                endDate: moment().startOf('hour').add(7, 'day'),
//                minDate: moment(),
                opens: "center",
                locale: {
                    format: 'DD/MM/YYYY HH:mm'
                }
            });

            $('input[name="datetimes"]').data('daterangepicker').setStartDate('{{ query.dateOfArrival|date("d/m/Y H:i") }}');
            $('input[name="datetimes"]').data('daterangepicker').setEndDate('{{ query.dateOfDeparture|date("d/m/Y H:i") }}');

            // Returns an array of dates between the two dates
            var getDates = function (startDate, endDate) {
                var dates = [],
                        currentDate = startDate,
                        addDays = function (days) {
                            var date = new Date(this.valueOf());
                            date.setDate(date.getDate() + days);
                            return date;
                        };
                while (currentDate <= endDate) {
                    dates.push(currentDate);
                    currentDate = addDays.call(currentDate, 1);
                }
                return dates;
            };

            $(document).on('change', 'input[name="datetimes"]', function() {
                setDateTimePickers();
            });

            function setDateTimePickers() {
                $('.datepicker').datepicker('destroy');
                $('.add_date_range').data('daterangepicker').remove();

                var dates = $('input[name="datetimes"]').val().split(' - ')
                var from = dates[0].slice(0,-5);
                var to = dates[1].slice(0,-5);

                $('.add_date_range').daterangepicker({
                    timePicker: false,
                    minDate: from,
                    maxDate: to,
                    locale: {
                        format: 'DD/MM/YYYY'
                    }
                });

                $('.datepicker').datepicker({
                    startDate: from,
                    endDate: to,
                    setDate: new Date(),
                    format: 'dd/mm/yyyy',
                    orientation: "bottom auto",
                    autoclose: true,
                    todayHighlight: true
                });

                $('.timepicker').timepicker({
                    showMeridian: false,
                    defaultTime: false,
                });
            }

            $(document).on('click', '.delete-row', function () {
                $(this).parent().parent().remove();
            });

            $(function () {
                setDateTimePickers();
            });

            $('.meal-add-date').on("click", function () {
                console.log('bbbbb');
                var row = $('.meal_row_to_copy');
                var clone = row.clone(); // copy children too

                clone.find('.form-control').each(function (index) {
                    $(this).attr('name', $(this).data('newname'));
                });
                clone.removeClass(); // change id or other attributes/contents
                row.parent().append(clone); // add new row to end of table

                setDateTimePickers();
            });

            $('.whole-period-meal').on("click", function () {
                var startEnd = $('[name="datetimes"]').val().split(' - ');

                var start = startEnd[0].slice(0,-5).split("/");
                var end = startEnd[1].slice(0,-5).split("/");
                var s=new Date(start[2],(start[1] -1 ),start[0]);
                var e=new Date(end[2], (end[1] - 1),end[0]);

                // Usage
                var dates = getDates(s, e);

                var i = 0;
                dates.forEach(function(date) {
                    i++;

                    var row = $('.meal_row_to_copy');
                    var clone = row.clone(); // copy children too

                    clone.find('.datepicker').val(date.ddmmyyyy()); //set new date
                    clone.find('.form-control').each(function (index) {
                        $(this).attr('name', $(this).data('newname'));
                    });
                    clone.find("select").val($('.meal_row_to_copy').find("select").val());//Copy select value to cloning

                    clone.removeClass(); // change id or other attributes/content
                    row.parent().append(clone); // add new row to end of table

                    if(i == dates.length){
                        setDateTimePickers();
                    }

                });

            });

            $('.whole-period').on("click", function () {
                var startEnd = $('[name="datetimes"]').val().split(' - ');

                var start = startEnd[0].slice(0,-5).split("/");
                var end = startEnd[1].slice(0,-5).split("/");
                var s=new Date(start[2],(start[1] -1 ),start[0]);
                var e=new Date(end[2], (end[1] - 1),end[0]);
                var id = this.id;

                // Usage
                var dates = getDates(s, e);
                var i = 0;
                dates.forEach(function(date) {
                    i++;
                    var row = $('.row_to_copy' + id);
                    var clone = row.clone(); // copy children too

                    clone.find('.datepicker').val(date.ddmmyyyy()); //set new date
                    clone.find("select").val($('.row_to_copy'+ id).find("select").val());//Copy select value to cloning

                    clone.removeClass(); // change id or other attributes/contents
                    clone.addClass('delete_row_'+ id); // change id or other attributes/contents
                    row.parent().append(clone); // add new row to end of table

                    if(i == dates.length){
                        setDateTimePickers();
                    }
                });
            });

            $('.delete-all').on("click", function () {
                $('.delete_row_'+$(this).attr('id')).remove();
            });


        {# ADD DATE SCRIPTS #}
            $('.add_date_range').daterangepicker({
                timePicker: false,
                minDate: moment().startOf('hour').add(1, 'day'),
                maxDate: moment().startOf('hour').add(7, 'day'),
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('.move-date-to-schedule').on("click", function () {
                console.log('add to schedule');

                var facilityId = $(this).data('facility');
                var date = $("input[name='facilities["+facilityId+"][date][]']" ).val();
                var mTimeFrom = $("input[name='facilities["+facilityId+"][mTimeFrom][]']" ).val();
                var mTimeTo = $("input[name='facilities["+facilityId+"][mTimeTo][]']" ).val();
                var aTimeFrom = $("input[name='facilities["+facilityId+"][aTimeFrom][]']" ).val();
                var aTimeTo = $("input[name='facilities["+facilityId+"][aTimeTo][]']" ).val();
                var part = $(".facility-"+facilityId+"-part").val();

                var startEnd = date.split(' - ');
                var start = startEnd[0].split("/");
                var end = startEnd[1].split("/");
                var s=new Date(start[2],(start[1] -1 ),start[0]);
                var e=new Date(end[2], (end[1] - 1),end[0]);
                var dates = getDates(s, e);
                var i = 0;
                dates.forEach(function(date) {
                    i++;
                    var row = $('.row_to_copy' + facilityId);
                    var clone = row.clone(); // copy children too
                    var clone2 = row.clone(); // copy children too

                    if(mTimeFrom && mTimeTo ) {
                        clone.find("input[name='newschedules[date][" + facilityId + "][]']").val(date.ddmmyyyy());
                        clone.find("input[name='newschedules[mTimeFrom][" + facilityId + "][]']").val(mTimeFrom);
                        clone.find("input[name='newschedules[mTimeTo][" + facilityId + "][]']").val(mTimeTo);
                        clone.find(".facility-part").val(part);
                        clone.removeClass(); // change id or other attributes/contents
                        clone.addClass('delete_row_' + facilityId); // change id or other attributes/contents
                        $('.table' + facilityId).append(clone); // add new row to end of table
                    }

                    if(aTimeFrom && aTimeTo ){
                        clone2.find("input[name='newschedules[date]["+facilityId+"][]']").val(date.ddmmyyyy());
                        clone2.find("input[name='newschedules[mTimeFrom]["+facilityId+"][]']").val(aTimeFrom);
                        clone2.find("input[name='newschedules[mTimeTo]["+facilityId+"][]']").val(aTimeTo);
                        clone2.find(".facility-part").val(part);
                        clone2.removeClass();
                        clone2.addClass('delete_row_'+ facilityId); // change id or other attributes/contents
                        $('.table'+facilityId).append(clone2); // add new row to end of table
                    }

                    row.find("input[name='newschedules[mTimeFrom]["+facilityId+"][]']").val(mTimeFrom);
                    row.find("input[name='newschedules[mTimeTo]["+facilityId+"][]']").val(mTimeTo);

                    if(i == dates.length){
                        setDateTimePickers();
                    }
                });

                return;
            });
        </script>

        <!-- iCheck 1.0.1 -->
        <script src="{{ url('app_homepage') }}plugins/iCheck/icheck.min.js"></script>


        <!-- iCheck 1.0.1 -->
        <script src="{{ url('app_homepage') }}plugins/iCheck/icheck.min.js"></script>

        <script>
            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });

            var showedOnce = 0;

            $(".minimal").on("ifChecked", function (e) {
                var checkboxes = $('[data-id="' + $(this).data('id') + '"]');
                var $this = $(this);
                var limit = $(this).data('limit');
                var disabled_count = checkboxes.filter(":disabled").length;
                var checked_count = checkboxes.filter(":checked").length;

                if ((checked_count - disabled_count) > limit) {
                    if(showedOnce == 0){
                        alert('Max lanes reached!');
                    }
                    showedOnce = 1;

                    setTimeout(function () {
                        $this.iCheck('uncheck');
                        showedOnce = 0;
                    }, 1);

                }
            });

            $.each(bookedLanes, function( index, value ) {
                $('.main_lane_'+value).prop('checked', true);
                $('.main_lane_'+value).prop('disabled', true);
                $('.main_lane_'+value).iCheck('update');
                $('.main_lane_'+value).iCheck('check');
                $('.main_lane_'+value).iCheck('disabled');
            });

            $(".whole_lane").on("ifChecked", function (e) {
                var id = $(this).attr('id');
                if ($(this).filter(':checked').length == $(this).length) {
                    $('.check_all_'+id).iCheck('check');
                }
            });

            $('.whole_lane').on('ifUnchecked', function (event) {
                var id = $(this).attr('id');
                $('.check_all_'+id).iCheck('uncheck');
            });

        </script>

    {% endblock %}
