{% extends 'layout.html.twig' %}
    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-list" aria-hidden="true"></i>
                {{ "query.title.list_query"|trans }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('query_index') }}"><i class="fa fa-dashboard"></i> {{ "menu.queries"|trans }}</a></li>
                <li class="active">{{ "general.button.list"|trans }}</li>
            </ol>
        </section>
    {% endblock %}

{% block content %}
    <div class="col-md-12 col-sm-6 col-xs-12">

        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="box box-primary">
            <div class="x_content">
                {% include 'query/filter.html.twig' %}
                <hr/>
                <div class="box-body">

                    {% import "macros/macros.html.twig" as macro %}

                    <table id="datatable-responsive"
                           class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">
                        <thead>
                        <tr>
                            <th>{{ macro.sorting('id', 'filter.id'|trans) }}</th>
                            <th>{{ macro.sorting('name', 'filter.name'|trans) }}</th>
                            <th>{{ macro.sorting('sport', 'filter.sport'|trans) }}</th>
                            <th>{{ macro.sorting('country', 'filter.country'|trans) }}</th>
                            <th>{{ macro.sorting('arrival', 'filter.arrival'|trans) }}</th>
                            <th>{{ macro.sorting('departure', 'filter.departure'|trans) }}</th>
                            <th>{{ macro.sorting('status', 'filter.status'|trans) }}</th>
                            <th>{{ macro.sorting('payed', 'filter.payed'|trans) }}</th>
                            <th>{{ "general.actions"|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if queries|length > 0 %}
                            {% for query in queries %}
                                {% if query.account %}
                                    <tr>
                                        <td>{{ query.id }}</td>
                                        <td>{{ query.account.name }}</td>
                                        <td>{{ constant('App\\Entity\\Account::SPORTS')[query.account.sport]|trans }}</td>
                                        <td>{{ countries[query.account.country] }}</td>
                                        <td>{{ query.dateOfArrival|date('Y-m-d H:i') }}</td>
                                        <td>{{ query.dateOfDeparture|date('Y-m-d H:i') }}</td>
                                        <td>
                                            {% if query.status == constant('App\\Entity\\Query::STATUS_ACCEPTED') %}
                                                {% set labelClass = 'label-success' %}
                                            {% elseif query.status == constant('App\\Entity\\Query::STATUS_REJECTED') %}
                                                {% set labelClass =  'label-danger' %}
                                            {% else %}
                                                {% set labelClass =  'label-warning' %}
                                            {% endif %}
                                            <span class="label {{ labelClass }}">{{ constant('App\\Entity\\Query::STATUSES')[query.status] }}</span>
                                        </td>
                                        <td>
                                            {{ constant('App\\Entity\\Query::PAYED')[query.payed] }}
                                        </td>
                                        <td class="actions btn-toolbar">
                                            <a href="{{ path('query_show', { 'id': query.id }) }}"
                                               class="btn btn-sm bg-orange no-wrap">
                                                <i class="fa fa-user"></i><span class="hidden-xs hidden-sm"> {{ "general.button.view"|trans }}</span>
                                            </a>

                                            {% if query.payed == constant('App\\Entity\\Query::PAYED_NO') %}
                                                <a href="{{ path('query_payed', { 'id': query.id }) }}"
                                                   class="btn btn-sm bg-green-active no-wrap">
                                                    <i class="fa fa-dollar"></i><span class="hidden-xs hidden-sm"> {{ "general.button.pay"|trans }}</span>
                                                </a>
                                            {% endif %}

                                            {% if (is_granted(constant('App\\Security\\Voter\\QueryVoter::QUERY_EDIT_ROLE'))) %}

                                                <a href="{{ path('query_edit', { 'id': query.id }) }}"
                                                   class="btn btn-sm bg-purple no-wrap">
                                                    <i class="fa  fa-wrench"></i><span
                                                            class="hidden-xs hidden-sm"> {{ "general.button.edit"|trans }}</span>
                                                </a>

                                                {% if query.status == constant('App\\Entity\\Query::STATUS_IN_PROGRESS') %}
                                                    <a href="{{ path('query_accept_form', { 'id': query.id }) }}" class="btn btn-sm bg-success no-wrap">
                                                        <i class="fa fa-check"></i><span
                                                                class="hidden-xs hidden-sm"> {{ "general.button.accept"|trans }}</span>
                                                    </a>
                                                {% endif %}

                                                <a href="{{ path('query_delete', { 'id': query.id }) }}"
                                                   class="btn btn-sm bg-red-active no-wrap">
                                                    <i class="fa fa-close"></i><span class="hidden-xs hidden-sm"> {{ "general.button.delete"|trans }}</span>
                                                </a>

                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                {% include 'paginator.html.twig' with { 'paginator': queries } only %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.datepicker').datepicker({
            setDate: new Date(),
            format: 'dd/mm/yyyy',
            orientation: "bottom auto",
            autoclose: true,
            todayHighlight: true
        });


    </script>
{% endblock %}
