    {% extends 'layout.html.twig' %}

    {% block content_header %}
    <section class="content-header">
        <h1>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Create Query
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('query_index') }}"><i class="fa fa-dashboard"></i> Queries</a></li>
            <li class="active">Create</li>
        </ol>
    </section>
    {% endblock %}

    {% block content %}

    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="box box-primary">

            {% for label, messages in app.flashes(['success', 'error']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}


                <div class="x_content">
                    {{ form_start(form) }}
                    <div class="box-body">
                        {{ form_widget(form) }}

                        <div class="form-group">
                            <label>Arrival - Departure:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" class="form-control pull-right" name="datetimes">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="box-footer">
                            <button id="send" type="submit" class="btn btn-primary">Submit</button>
                            <a href="{{ path('query_index') }}" class="btn bg-blue">Cancel</a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>

        </div>

    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        <script>
            $(function() {
                $('input[name="datetimes"]').daterangepicker({
                    timePicker: true,
                    timePicker24Hour: true,
                    startDate: moment().startOf('hour').add(1, 'day'),
                    endDate: moment().startOf('hour').add(7, 'day'),
                    minDate: moment(),
                    opens: "center",
                    locale: {
                        format: 'DD/MM/YYYY HH:mm'
                    }
                });
            });
        </script>

    {% endblock %}
