{% extends 'layout.html.twig' %}

    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Create Query
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('query_index') }}"><i class="fa fa-dashboard"></i> Queries</a></li>
                <li class="active">Create</li>
            </ol>
        </section>
    {% endblock %}

    {% block content %}

        {{ form_start(form, { 'attr' : { 'autocomplete': 'off' } }) }}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Customer</h3>
                </div>


                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="x_content">

                    <div class="box-body">
                        {{ form_widget(form) }}

                        <div class="form-group">
                            <label>Hotel:</label>
                            <select class="form-control" name="hotel">
                                {% for hotelId, hotel in constant('App\\Entity\\Query::HOTELS') %}
                                    <option value="{{ hotelId }}">{{ hotel }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Arrival - Departure:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" class="form-control pull-right" name="datetimes" autocomplete="off">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="box-footer">
                            <button id="send" type="submit" class="btn btn-primary">Submit</button>
                            <a href="{{ path('query_index') }}" class="btn bg-blue">Cancel</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Meal Schedule</h3>
                </div>

                <div class="box-body">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            {% for key,meal in constant('App\\Entity\\Query::MEALS') %}

                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Breakfast Restaurant</th>
                                    <th>Middle Breakfast Restaurant</th>
                                    <th>Lunch Restaurant</th>
                                    <th>Dinner Restaurant</th>
                                </tr>
                                <tr class="meal_row_to_copy">
                                    <td><input type="text" class="form-control pull-right datepicker"
                                               name="meals[date][]"></td>
                                    <td>
                                        <div class="input-group">
                                            <select name="meals[breakfast][]" class="form-control">
                                                <option value="-">No</option>
                                                {% for resId,restaurant in constant('App\\Entity\\Query::RESTAURANTS') %}
                                                <option value="{{ resId }}">{{ restaurant }}</option>
                                                {% endfor %}#}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <select name="meals[middle-breakfast][]" class="form-control">
                                                <option value="-">No</option>
                                                {% for resId,restaurant in constant('App\\Entity\\Query::RESTAURANTS') %}
                                                <option value="{{ resId }}">{{ restaurant }}</option>
                                                {% endfor %}#}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <select name="meals[lunch][]" class="form-control">
                                                <option value="-">No</option>
                                                {% for resId,restaurant in constant('App\\Entity\\Query::RESTAURANTS') %}
                                                <option value="{{ resId }}">{{ restaurant }}</option>
                                                {% endfor %}#}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <select name="meals[dinner][]" class="form-control">
                                                <option value="-">No</option>
                                                {% for resId,restaurant in constant('App\\Entity\\Query::RESTAURANTS') %}
                                                <option value="{{ resId }}">{{ restaurant }}</option>
                                                {% endfor %}#}
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <span class="btn btn-sm bg-info meal-add-date">Add Date</span>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Facility Schedule</h3>
                </div>

                <div class="box-body">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            {% for key,facility in facilities %}
                                <li class="{% if key == 0 %}active{% endif %}">
                                    <a href="#tab_{{ facility.id }}"
                                       data-toggle="tab"
                                       aria-expanded="true">{{ facility.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for key,facility in facilities %}
                                <div class="tab-pane {% if key == 0 %}active{% endif %}" id="tab_{{ facility.id }}">

                                    <table class="table table-bordered table{{ facility.id }}">
                                        <tbody>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time From</th>
                                            <th>Time To</th>
                                            <th>Parts</th>
                                        </tr>
                                        <tr class="row_to_copy{{ facility.id }}">
                                            <td><input type="text" class="form-control pull-right datepicker"
                                                       name="facilities[{{ facility.id }}][date][]"></td>
                                            <td>
                                                <div class="input-group" style="max-width: 100px;">
                                                    <input type="text" class="form-control timepicker"
                                                           name="facilities[{{ facility.id }}][timeFrom][]">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group" style="max-width: 100px;">
                                                    <input type="text" class="form-control timepicker"
                                                           name="facilities[{{ facility.id }}][timeTo][]">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control" name="facilities[{{ facility.id }}][part][]">
                                                    {% for partKey,part in constant('App\\Entity\\Facility::PARTS')[facility.type] %}
                                                        <option value="{{ partKey }}">{{ part }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <span class="btn btn-sm bg-info add-date" id="{{ facility.id }}">Add Date</span>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                        <!-- /.tab-content -->
                    </div>

                </div>
            </div>
        </div>



        {{ form_end(form) }}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>
            function setDateTimePickers() {
                $('input[name="datetimes"]').daterangepicker({
                    timePicker: true,
                    timePicker24Hour: true,
                    startDate: moment().startOf('hour').add(1, 'day'),
                    endDate: moment().startOf('hour').add(7, 'day'),
                    minDate: moment(),
                    opens: "center",
                    locale: {
                        format: 'DD/MM/YYYY HH:mm'
                    }
                });

                $('.datepicker').datepicker({
                    startDate: "today",
                    setDate: new Date(),
                    format: 'dd/mm/yyyy',
                    orientation: "bottom auto",
                    autoclose: true,
                    todayHighlight: true
                });

                $('.timepicker').timepicker({
                    showMeridian: false,
                });
            }

            $(function () {
                setDateTimePickers();
            });

            $('.add-date').on("click", function () {
                var row = $('.row_to_copy' + this.id);
                var clone = row.clone(); // copy children too
                clone.removeClass(); // change id or other attributes/contents
                row.parent().append(clone); // add new row to end of table

                setDateTimePickers();
            });

            $('.meal-add-date').on("click", function () {
                var row = $('.meal_row_to_copy');
                var clone = row.clone(); // copy children too
                clone.removeClass(); // change id or other attributes/contents
                row.parent().append(clone); // add new row to end of table

                setDateTimePickers();
            });


        </script>


    {% endblock %}
