{% extends 'layout.html.twig' %}

    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ "query.title.create_query"|trans }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('query_index') }}"><i class="fa fa-dashboard"></i> {{ "menu.queries"|trans }}</a></li>
                <li class="active">{{ "general.button.add"|trans }}</li>
            </ol>
        </section>
    {% endblock %}

    {% block content %}

        {{ form_start(form, { 'attr' : { 'autocomplete': 'off' } }) }}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "label.client"|trans }}</h3>
                </div>

                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="x_content">

                    <div class="box-body">
                        {#{{ form_widget(form) }}#}
                        <div class="form-group col-md-3 col-sm-3">
                        {{ form_row(form.name) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                        {{ form_row(form.manager) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                        {{ form_row(form.sport) }}
                        </div>
                        <div class="form-group col-md-3 col-sm-3">
                        {{ form_row(form.country) }}
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label>{{ "filter.number_of_people"|trans }}</label>
                            <input type="number" class="form-control pull-right" name="number_of_people" autocomplete="off">
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label>{{ "filter.hotel"|trans }}</label>
                            <select class="form-control" name="hotel">
                                {% for hotelId, hotel in constant('App\\Entity\\Query::HOTELS') %}
                                    <option value="{{ hotelId }}">{{ hotel }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-3 col-sm-3">
                            <label>{{ "filter.arrival"|trans }} - {{ "filter.departure"|trans }}:</label>

                            <div class="input-group ">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" class="form-control pull-right" name="datetimes" autocomplete="off">
                            </div>
                            <!-- /.input group -->
                        </div>

                        <div class="box-footer col-md-3 col-sm-3">
                            <button id="send" type="submit" class="btn btn-success">{{ "general.button.save"|trans }}</button>
                            <a href="{{ path('query_index') }}" class="btn bg-blue">{{ "general.button.cancel"|trans }}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "label.meal_schedule"|trans }}</h3>
                </div>

                <div class="box-body">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            {% for key,meal in constant('App\\Entity\\Query::MEALS') %}

                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>{{ "label.date"|trans }}</th>
                                    <th>{{ "label.restaurant"|trans }}</th>
                                    <th style="width: 115px">{{ "label.breakfast_time"|trans }}</th>
                                    <th style="width: 115px">{{ "label.breakfast_time_end"|trans }}</th>
                                    <th style="width: 115px">{{ "label.lunch_time"|trans }}</th>
                                    <th style="width: 115px">{{ "label.lunch_time_end"|trans }}</th>
                                    <th style="width: 115px">{{ "label.dinner_time"|trans }}</th>
                                    <th style="width: 115px">{{ "label.dinner_time_end"|trans }}</th>
                                    <th style="width: 115px">{{ "label.middle_breakfast_time"|trans }}</th>
                                    <th style="width: 115px">{{ "label.middle_breakfast_time_end"|trans }}</th>
                                    <th>{{ "label.delete"|trans }}</th>
                                </tr>
                                <tr class="meal_row_to_copy">
                                    <td><input type="text" class="form-control pull-right datepicker"
                                               name="meals[date][]"></td>
                                    <td>
                                        <div class="input-group">
                                            <select name="meals[restaurant][]" class="form-control">
                                                <option value="-">No</option>
                                                {% for resId,restaurant in constant('App\\Entity\\Query::RESTAURANTS') %}
                                                <option value="{{ resId }}">{{ restaurant }}</option>
                                                {% endfor %}#}
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" name="meals[breakfast][]">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" name="meals[breakfast_end][]">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" name="meals[lunch][]">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" name="meals[lunch_end][]">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" name="meals[dinner][]">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" name="meals[dinner_end][]">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" name="meals[middle_breakfast][]">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" name="meals[middle_breakfast_end][]">
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span style="cursor: pointer;" class="delete-row"><small class="label label-danger"><i class="fa fa-fw fa-close"></i> {{ "general.button.delete"|trans }}</small></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                <span class="btn btn-sm bg-info meal-add-date">{{ "general.button.add_date"|trans }}</span>
                                <span class="btn btn-sm bg-orange whole-period-meal">{{ "general.button.whole_period"|trans }}</span>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ "label.facility_schedule"|trans }}</h3>
                </div>

                <div class="box-body">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            {% for key,facility in facilities %}
                                <li class="{% if key == 0 %}active{% endif %}">
                                    <a href="#tab_{{ facility.id }}"
                                       data-toggle="tab"
                                       aria-expanded="true">{{ facility.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for key,facility in facilities %}
                                <div class="tab-pane {% if key == 0 %}active{% endif %}" id="tab_{{ facility.id }}">

                                    <table class="table table-bordered table{{ facility.id }}">
                                        <tbody>
                                        <tr>
                                            <th>{{ "label.date"|trans }}</th>
                                            <th>{{ "label.morning_time_from"|trans }}</th>
                                            <th>{{ "label.morning_time_to"|trans }}</th>
                                            <th>{{ "label.afternoon_time_from"|trans }}</th>
                                            <th>{{ "label.afternoon_time_to"|trans }}</th>
                                            <th>{{ "label.parts"|trans }}</th>
                                            <th>{{ "label.delete"|trans }}</th>
                                        </tr>
                                        <tr class="hidden row_to_copy{{ facility.id }}" >
                                            <td><input type="text" class="form-control pull-right datepicker"
                                                       name="newschedules[date][{{ facility.id }}][]"
                                                       data-newname="newschedules[date][{{ facility.id }}][]"
                                                       value=""></td>
                                            <td>
                                                <div class="input-group" style="max-width: 100px;">
                                                    <input type="text" class="form-control timepicker"
                                                           name="newschedules[mTimeFrom][{{ facility.id }}][]"
                                                           data-newname="newschedules[mTimeFrom][{{ facility.id }}][]"
                                                           value="">

                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group" style="max-width: 100px;">
                                                    <input type="text" class="form-control timepicker"
                                                           name="newschedules[mTimeTo][{{ facility.id }}][]"
                                                           data-newname="newschedules[mTimeTo][{{ facility.id }}][]"
                                                           value="">

                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control facility-part"
                                                        name="newschedules[part][{{ facility.id }}][]"
                                                        data-newname="newschedules[part][{{ facility.id }}][]"
                                                >
                                                    {% for partKey,part in constant('App\\Entity\\Facility::PARTS')[facility.type] %}
                                                        <option value="{{ partKey }}">{{ part }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                        <span style="cursor: pointer;" class="delete-row"><small
                                                                    class="label label-danger"><i
                                                                        class="fa fa-fw fa-close"></i> {{ "general.button.delete"|trans }}
                                                            </small></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        {#<span class="btn btn-sm bg-info add-date" id="{{ facility.id }}">{{ "general.button.add_date"|trans }}</span>#}

                                        <a class="btn btn-sm bg-info" id="{{ facility.id }}" data-toggle="modal" data-target="#modal-add-date-{{ facility.id }}">{{ "general.button.add_date"|trans }}</a>

                                        <span class="btn btn-sm bg-orange whole-period" id="{{ facility.id }}">{{ "general.button.whole_period"|trans }}</span>
                                        <span class="btn btn-sm bg-red delete-all" id="{{ facility.id }}">{{ "general.button.delete_all"|trans }}</span>
                                    </div>

                                </div>
                            {% endfor %}
                        </div>
                        <!-- /.tab-content -->
                    </div>

                </div>
            </div>
        </div>



        {{ form_end(form) }}

        {% for key,facility in facilities %}
            {% include 'query/_edit_add_date.html.twig' %}
        {% endfor %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script>
            Date.prototype.ddmmyyyy = function() {
                var mm = this.getMonth() + 1; // getMonth() is zero-based
                var dd = this.getDate();

                return [(dd>9 ? '' : '0') + dd,(mm>9 ? '' : '0') + mm,this.getFullYear()].join('/');
            };

            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                startDate: moment().startOf('hour').add(1, 'day'),
                endDate: moment().startOf('hour').add(7, 'day'),
                minDate: moment(),
                opens: "center",
                locale: {
                    format: 'DD/MM/YYYY HH:mm'
                }
            });

            // Returns an array of dates between the two dates
            var getDates = function(startDate, endDate) {
                var dates = [],
                        currentDate = startDate,
                        addDays = function(days) {
                            var date = new Date(this.valueOf());
                            date.setDate(date.getDate() + days);
                            return date;
                        };
                while (currentDate <= endDate) {
                    dates.push(currentDate);
                    currentDate = addDays.call(currentDate, 1);
                }
                return dates;
            };

            $(document).on('change', 'input[name="datetimes"]', function() {
                setDateTimePickers();
            });

            function setDateTimePickers() {
                $('.datepicker').datepicker('destroy');
                var dates = $('input[name="datetimes"]').val().split(' - ')
                var from = dates[0].slice(0,-5);
                var to = dates[1].slice(0,-5);

                $('.datepicker').datepicker({
                    startDate: from,
                    endDate: to,
                    setDate: new Date(),
                    format: 'dd/mm/yyyy',
                    orientation: "bottom auto",
                    autoclose: true,
                    todayHighlight: true
                });

                $('.timepicker').timepicker({
                    showMeridian: false,
                    defaultTime: false,
//                    maxHours: 22,
//                    minHours: 5,
                });
            }

            $(document).on('click', '.delete-row', function() {
                $(this).parent().parent().remove();
            });

            $(function () {
                setDateTimePickers();
            });

            $('.whole-period-meal').on("click", function () {
                var startEnd = $('[name="datetimes"]').val().split(' - ');

                var start = startEnd[0].slice(0,-5).split("/");
                var end = startEnd[1].slice(0,-5).split("/");
                var s=new Date(start[2],(start[1] -1 ),start[0]);
                var e=new Date(end[2], (end[1] - 1),end[0]);

                // Usage
                var dates = getDates(s, e);
                dates.forEach(function(date) {
                    var row = $('.meal_row_to_copy');
                    var clone = row.clone(); // copy children too

                    clone.find('.datepicker').val(date.ddmmyyyy()); //set new date
                    clone.find("select").val($('.meal_row_to_copy').find("select").val());//Copy select value to cloning

                    clone.removeClass(); // change id or other attributes/contents
                    row.parent().append(clone); // add new row to end of table

                    setDateTimePickers();
                });

            });

            $('.delete-all').on("click", function () {
                $('.delete_row_'+$(this).attr('id')).remove();
            });

            $('.whole-period').on("click", function () {
                var startEnd = $('[name="datetimes"]').val().split(' - ');

                var start = startEnd[0].slice(0,-5).split("/");
                var end = startEnd[1].slice(0,-5).split("/");
                var s=new Date(start[2],(start[1] -1 ),start[0]);
                var e=new Date(end[2], (end[1] - 1),end[0]);
                var id = this.id;

                // Usage
                var dates = getDates(s, e);
                dates.forEach(function(date) {
                    var row = $('.row_to_copy' + id);
                    var clone = row.clone(); // copy children too

                    clone.find('.datepicker').val(date.ddmmyyyy()); //set new date
                    clone.find("select").val($('.row_to_copy'+ id).find("select").val());//Copy select value to cloning

                    clone.removeClass(); // change id or other attributes/contents
                    clone.addClass('delete_row_'+ id); // change id or other attributes/contents
                    row.parent().append(clone); // add new row to end of table

                    setDateTimePickers();
                });
            });

            $('.meal-add-date').on("click", function () {
                var row = $('.meal_row_to_copy');
                var clone = row.clone(); // copy children too
                clone.find("select").val($('.meal_row_to_copy').find("select").val());//Copy select value to cloning
                clone.removeClass(); // change id or other attributes/contents
                row.parent().append(clone); // add new row to end of table

                setDateTimePickers();
            });

            {# ADD DATE SCRIPTS #}
            $('.add_date_range').daterangepicker({
                timePicker: false,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('.move-date-to-schedule').on("click", function () {
                var facilityId = $(this).data('facility');
                var date = $("input[name='facilities["+facilityId+"][date][]']" ).val();
                var mTimeFrom = $("input[name='facilities["+facilityId+"][mTimeFrom][]']" ).val();
                var mTimeTo = $("input[name='facilities["+facilityId+"][mTimeTo][]']" ).val();
                var aTimeFrom = $("input[name='facilities["+facilityId+"][aTimeFrom][]']" ).val();
                var aTimeTo = $("input[name='facilities["+facilityId+"][aTimeTo][]']" ).val();
                var part = $(".facility-"+facilityId+"-part").val();
                console.log(facilityId);

                var startEnd = date.split(' - ');
                var start = startEnd[0].split("/");
                var end = startEnd[1].split("/");
                var s=new Date(start[2],(start[1] -1 ),start[0]);
                var e=new Date(end[2], (end[1] - 1),end[0]);
                var dates = getDates(s, e);
                dates.forEach(function(date) {
                    var row = $('.row_to_copy' + facilityId);
                    var clone = row.clone(); // copy children too
                    var clone2 = row.clone(); // copy children too
                    clone.find("input[name='newschedules[date]["+facilityId+"][]']").val(date.ddmmyyyy());
                    clone.find("input[name='newschedules[mTimeFrom]["+facilityId+"][]']").val(mTimeFrom);
                    clone.find("input[name='newschedules[mTimeTo]["+facilityId+"][]']").val(mTimeTo);
                    clone.find(".facility-part").val(part);

                    clone2.find("input[name='newschedules[date]["+facilityId+"][]']").val(date.ddmmyyyy());
                    clone2.find("input[name='newschedules[mTimeFrom]["+facilityId+"][]']").val(aTimeFrom);
                    clone2.find("input[name='newschedules[mTimeTo]["+facilityId+"][]']").val(aTimeTo);
                    clone2.find(".facility-part").val(part);

                    clone.removeClass(); // change id or other attributes/contents
                    clone2.removeClass();
                    clone.addClass('delete_row_'+ facilityId); // change id or other attributes/contents
                    clone2.addClass('delete_row_'+ facilityId); // change id or other attributes/contents
                    $('.table'+facilityId).append(clone); // add new row to end of table
                    $('.table'+facilityId).append(clone2); // add new row to end of table
                    row.find("input[name='newschedules[mTimeFrom]["+facilityId+"][]']").val(mTimeFrom);
                    row.find("input[name='newschedules[mTimeTo]["+facilityId+"][]']").val(mTimeTo);
//
                    setDateTimePickers();
                });

                return;
            });


        </script>


    {% endblock %}
