{% extends 'layout.html.twig' %}

{% block content_header %}
    <section class="content-header">
        <h1>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ "query.title.query"|trans }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('query_index') }}"><i class="fa fa-dashboard"></i>  {{ "menu.queries"|trans }}</a></li>
            <li class="active">{{ "general.button.show"|trans }}</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box box-primary">

                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="x_content">
                    <div class="box-body">

                        {% if query.account %}
                            <div class="box box-widget widget-user-2">

                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-yellow">
                                            <h3 class="widget-user-username">{{ query.account.name }} {% if query.account.country is defined %}{{ countries[query.account.country] }}{% else %} - {% endif %}
                                            - <a href="{{ path('query_print', {'id': query.id}) }}" target="_blank" class="btn btn-sm btn-success">{{ "general.button.for_printing"|trans }}</a>
                                            </h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                            <ul class="nav nav-stacked">
                                                <li><a href="#">{{ "label.id"|trans }}: <span class="pull-right badge bg-blue">{{ query.id }}</span></a></li>
                                                <li><a href="#">{{ "label.name"|trans }}: <span class="pull-right">{% if query.account.name is defined %}{{ query.account.name }}{% else %} - {% endif %}</span></a></li>
                                                <li><a href="#">{{ "label.manager"|trans }}: <span class="pull-right">{% if query.account.manager is defined %}{{ query.account.manager }}{% else %} - {% endif %}</span></a></li>
                                                <li><a href="#">{{ "label.sport"|trans }}: <span class="pull-right">{% if query.account.sport is defined %}{{ constant('App\\Entity\\Account::SPORTS')[query.account.sport]|trans }}{% else %} - {% endif %}</span></a></li>
                                                <li><a href="#">{{ "label.country"|trans }}: <span class="pull-right">{% if query.account.country is defined %}{{ countries[query.account.country] }}{% else %} - {% endif %}</span></a></li>
                                                <li><a href="#">{{ "label.number_of_people"|trans }}: <span class="pull-right">{% if query.numberOfPeople is defined %}{{ query.numberOfPeople }}{% else %} - {% endif %}</span></a></li>
                                                <li><a href="#">{{ "label.arrival"|trans }}: <span class="pull-right">{% if query.dateOfArrival is defined %}{{ query.dateOfArrival|date('Y-m-d H:i') }}{% else %} - {% endif %}</span></a></li>
                                                <li><a href="#">{{ "label.departure"|trans }}: <span class="pull-right">{% if query.dateOfDeparture is defined %}{{ query.dateOfDeparture|date('Y-m-d H:i') }}{% else %} - {% endif %}</span></a></li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="col-md-8">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-red">
                                            <h3 class="widget-user-username">{{ "label.meal_schedule"|trans }}</h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                                {% if query.account.mealSchedules|length > 0%}
                                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">
                                                    <thead>
                                                    <tr>
                                                        <th>{{ "label.date"|trans }}</th>
                                                        <th>{{ "label.restaurant"|trans }}</th>
                                                        <th>{{ "label.breakfast"|trans }}</th>
                                                        <th>{{ "label.lunch"|trans }}</th>
                                                        <th>{{ "label.dinner"|trans }}</th>
                                                        <th>{{ "label.middle_breakfast"|trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {#{% for meal in query.account.mealSchedules %}#}
                                                    {% for date, meals in mealArray %}
                                                            <tr>
                                                                <td>
                                                                    {{ date }}
                                                                </td>
                                                                <td>
                                                                    {% for meal in meals %}
                                                                        {{ constant('App\\Entity\\Query::RESTAURANTS')[meal.restaurant] }}<br>
                                                                    {% endfor %}
                                                                </td>
                                                                <td>
                                                                    {% for meal in meals %}
                                                                        {% if meal.breakfastTime %}
                                                                            {{ meal.breakfastTime|date('H:i') }}
                                                                        {% endif %}

                                                                        {% if meal.breakfastTimeEnd %}
                                                                            - {{ meal.breakfastTimeEnd|date('H:i') }}
                                                                        {% endif %}
                                                                        <br>
                                                                    {% endfor %}
                                                                </td>
                                                                <td>
                                                                    {% for meal in meals %}
                                                                        {% if meal.lunchTime %}
                                                                            {{ meal.lunchTime|date('H:i') }}
                                                                        {% endif %}
                                                                        {% if meal.lunchTimeEnd %}
                                                                            - {{ meal.lunchTimeEnd|date('H:i') }}
                                                                        {% endif %}
                                                                        <br>
                                                                    {% endfor %}
                                                                </td>
                                                                <td>
                                                                    {% for meal in meals %}
                                                                        {% if meal.dinnerTime %}
                                                                            {{ meal.dinnerTime|date('H:i') }}
                                                                        {% endif %}
                                                                        {% if meal.dinnerTimeEnd %}
                                                                            - {{ meal.dinnerTimeEnd|date('H:i') }}
                                                                        {% endif %}
                                                                        <br>
                                                                    {% endfor %}
                                                                </td>
                                                                <td>
                                                                    {% for meal in meals %}
                                                                        {% if meal.middleBreakfastTime %}
                                                                            {{ meal.middleBreakfastTime|date('H:i') }}
                                                                        {% endif %}
                                                                        {% if meal.middleBreakfastTimeEnd %}
                                                                            - {{ meal.middleBreakfastTimeEnd|date('H:i') }}
                                                                        {% endif %}
                                                                        <br>
                                                                    {% endfor %}
                                                                </td>
                                                            </tr>
                                                    {% else %}
                                                        {{ "message.no_meal"|trans }}
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                                {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-green">
                                            <h3 class="widget-user-username">{{ "label.facility_schedule"|trans }}</h3>
                                        </div>
                                        <div class="box-footer no-padding">
                                            {% if query.account.schedules|length > 0%}
                                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">
                                                    <thead>
                                                    <tr>
                                                        <th>{{ "label.date"|trans }}</th>
                                                        <th>{{ "label.facility"|trans }}</th>
                                                        <th>{{ "label.from"|trans }}</th>
                                                        <th>{{ "label.to"|trans }}</th>
                                                        <th>{{ "label.parts"|trans }}</th>
                                                        <th>{{ "label.additional_info"|trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for date, schedules in scheduleArray %}
                                                        <tr>
                                                            <td>
                                                                {{ date }}
                                                            </td>
                                                            <td>
                                                                {% for schedule in schedules %}
                                                                    {{ schedule.facility.name }} <br>
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                {% for schedule in schedules %}
                                                                    {% if schedule.timeFrom %}
                                                                        {{ schedule.timeFrom|date('H:i') }} <br>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                {% for schedule in schedules %}
                                                                    {% if schedule.timeTo %}
                                                                        {{ schedule.timeTo|date('H:i') }} <br>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                {% for schedule in schedules %}
                                                                    {{ constant('App\\Entity\\Facility::PARTS')[schedule.facility.type][schedule.parts] }} <br>
                                                                {% endfor %}
                                                            </td>
                                                            <td>
                                                                {% for schedule in schedules %}
                                                                    {% if schedule.lanes is not null %}
                                                                        Lanes number:
                                                                        {% for lane in schedule.lanes|unserialize|keys %}
                                                                            {{ lane }},
                                                                        {% endfor %}
                                                                        <br>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        No Schedule
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endif %}
                        <div class="box-footer">
                            <div>
                                <a href="{{ path('query_index') }}" class="btn bg-green">
                                    <i class="fa fa-arrow-circle-left"></i><span class="hidden-xs hidden-sm"> {{ 'general.button.back'|trans }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>






            </div>

        </div>

        <div class="col-md-5 col-sm-6 col-xs-12">

{% endblock %}