{% extends 'layout.html.twig' %}

{% block content_header %}
    <section class="content-header">
        <h1>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Facility <span> - {{ facility.name }} </span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url('facility_index') }}"><i class="fa fa-dashboard"></i> Facilities</a></li>
            <li class="active">Show</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="box box-primary">

                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="x_content">
                    <div class="box-body">

                        <div class="box box-widget widget-user-2">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-yellow">
                                <h3 class="widget-user-username">{{ facility.name }}</h3>
                            </div>
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">Id: <span class="pull-right badge bg-blue">{{ facility.id }}</span></a></li>
                                    <li><a href="#">Name: <span class="pull-right">{% if facility.name is defined %}{{ facility.name }}{% else %} - {% endif %}</span></a></li>
                                    <li><a href="#">Type: <span class="pull-right">{% if facility.type is defined %}{{ constant('App\\Entity\\Facility::TYPES')[facility.type] }}{% else %} - {% endif %}</span></a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="box-footer">
                            <div>
                                <a href="{{ path('facility_index') }}" class="btn bg-green">
                                    <i class="fa fa-arrow-circle-left"></i><span class="hidden-xs hidden-sm"> Back to the list</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-5 col-sm-6 col-xs-12">

{% endblock %}