{% extends 'layout.html.twig' %}
    {% block content_header %}
        <section class="content-header">
            <h1>
                <i class="fa fa-list" aria-hidden="true"></i> {{ "user.title.list_users"|trans }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('user_index') }}"><i class="fa fa-dashboard"></i> {{ "user.title.user"|trans }}</a></li>
                <li class="active">{{ "user.title.list_users"|trans }}</li>
            </ol>
        </section>
    {% endblock %}

    {% block content %}
    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="box box-primary">

            <div class="x_content">
                {#{% include 'user/filter.html.twig' %}#}
                <div class="box-body">

                    {% import "macros/macros.html.twig" as macro %}

                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">
                        <thead>
                        <tr>
                            <th>{{ macro.sorting('userId', 'filter.id'|trans) }}</th>
                            <th>{{ macro.sorting('user', 'filter.name'|trans) }}</th>
                            <th>{{ macro.sorting('username', 'filter.username'|trans) }}</th>
                            <th>{{ macro.sorting('email', 'filter.email'|trans) }}</th>
                            <th>{{ "label.position"|trans }}</th>
                            <th>{{ "label.is_active"|trans }}</th>
                            <th>{{ "general.actions"|trans }}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if users|length > 0%}
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a>
                                    </td>
                                    <td>{{ user }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    {#<td>{{ user.department }}</td>#}
                                    <td>{{ user.position|replace({'ROLE_': ''}) }}</td>
                                    <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                                    <td class="actions">
                                        <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn-sm bg-orange no-wrap">
                                            <i class="fa fa-user"></i><span class="hidden-xs hidden-sm"> {{ "general.button.view"|trans }}</span>
                                        </a>
                                        <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn-sm bg-green no-wrap">
                                            <i class="fa fa-cog"></i><span class="hidden-xs hidden-sm"> {{ "general.button.edit"|trans }}</span>
                                        </a>
                                        {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                                            <a href="{{ url('app_homepage', { '_switch_user': user.username }) }}" class="btn-sm bg-purple no-wrap">
                                                <i class="fa fa-user-secret"></i><span class="hidden-xs hidden-sm"> {{ "general.button.impersonate"|trans }}</span>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                {% include 'paginator.html.twig' with { 'paginator': users } only %}
            </div>
        </div>
    </div>

    {% endblock %}
